In [12]:
# for unzipping
import requests, zipfile
from io import BytesIO
import os

# for the good shit
import pandas as pd
import numpy as np

In [170]:
RELATIVE_PATH = "../../data/landing/"
MERGE_COLUMNS = ["SA2_CODE_2021"]
MERGE_FILE_NAME = "merge.csv"

## Creating File system

In [18]:
# directories to create
DIRECTORIES = ["ABS", "ABS/2021", "ABS/2016"]
directory_paths = [RELATIVE_PATH + dir for dir in DIRECTORIES]

# create the paths
for directory_path in directory_paths:
    os.makedirs(directory_path, exist_ok=True)

## Getting the zip file

#### Downloading and unzip

In [100]:
import shutil

def delete_contents(directory):
    # Check if the directory exists
    if os.path.exists(directory):
        # Clear the contents of the directory
        for filename in os.listdir(directory):
            file_path = os.path.join(directory, filename)
            try:
                if os.path.isfile(file_path) or os.path.islink(file_path):
                    os.unlink(file_path)  # Remove files and symlinks
                elif os.path.isdir(file_path):
                    shutil.rmtree(file_path)  # Remove directories
            except Exception as e:
                print(f"Failed to delete {file_path}. Reason: {e}")
    else:
        print(f"Directory '{directory}' does not exist.")

In [102]:
# get the request 
urls = ["https://www.abs.gov.au/census/find-census-data/datapacks/download/2021_GCP_SA2_for_VIC_short-header.zip",
        "https://www.abs.gov.au/census/find-census-data/datapacks/download/2016_GCP_SA2_for_VIC_short-header.zip"]
names = ["2021", "2016"]

# donwload and unzip each url
for url, name in zip(urls, names):
    print(f"Downloading started for {name}")
    response = requests.get(url)
    print("Download completed")

    # prepare the outfile
    out_path = RELATIVE_PATH + "ABS/" + name
    delete_contents(out_path)

    # extract the zip file
    zipfile_obj = zipfile.ZipFile(BytesIO(response.content))
    zipfile_obj.extractall(out_path)

    print("Finishing extracting")

Downloading started for 2021
Download completed
Finishing extracting
Downloading started for 2016
Download completed
Finishing extracting

#### Renaming files

In [103]:
# RENAME the data file
paths = [RELATIVE_PATH + "ABS/" + name + "/" for name in names]

for path in paths:
    # find the data file
    data_names = [dir for dir in os.listdir(path) if "Census GCP" in dir]

    if (len(data_names) != 1):
        print("something wrong, the old path doesn't exist")
        break

    # out path and in path
    curr_path = path + data_names[0]
    new_path = path + "data"

    # rename the file
    os.rename(curr_path, new_path)

In [104]:
# RENAME the meta data file
paths = [RELATIVE_PATH + "ABS/" + name + "/Metadata/" for name in names]

for path in paths:
    # find the data file
    data_names = [dir for dir in os.listdir(path) if "Metadata" in dir]

    if (len(data_names) != 1):
        print("something wrong, the old path doesn't exist")
        break

    # out path and in path
    curr_path = path + data_names[0]
    new_path = path + "column_names.xlsx"

    # rename the file
    os.rename(curr_path, new_path)

## Functions

#### Merging

In [39]:
def get_next_merge(new_df, final_df, join_columns):
    if (final_df.empty):
        return new_df

    # get the attributes used for the merge
    merge_columns = list(set(new_df.columns) & set(join_columns) & set(final_df.columns))

    # get the columns not already in the data frame
    new_columns = list(set(new_df.columns) - set(final_df.columns) - set(merge_columns))

    # merge columns
    merged_df = pd.merge(final_df, new_df[merge_columns + new_columns], on=merge_columns, how="inner")

    # check if any rows lost
    print(f"lost {final_df.shape[0] - merged_df.shape[0]} out of {final_df.shape[0]} records")
    
    return merged_df

In [40]:
def get_merged_df(df_list, join_columns):
    # keep on aggregating
    agg_df = df_list[0]
    for new_df in df_list[1:]:
        agg_df = get_next_merge(new_df, agg_df, join_columns)

    return agg_df

#### Renaming

In [73]:
""""Note: uses the actual index name"""
def rename_dict(df, csv_dict):
    # filter the dictionary with the old names
    df = df[MERGE_COLUMNS + list(csv_dict["rename"].keys())]

    # get the new names
    df.columns = MERGE_COLUMNS + [csv_dict["name"] + ": " + new_name for new_name in  csv_dict["rename"].values()]
    
    return df

#### Reading the data

In [84]:
def write_csv(csv_dict):
    # get the relative directory all files
    relative_path = RELATIVE_PATH + 'ABS/' + csv_dict["year"] + "/data/"

    # get all the files from the directory with the code
    all_files = os.listdir(RELATIVE_PATH + 'ABS/' + csv_dict["year"] + "/data")
    code_paths = [relative_path + file for file in all_files if csv_dict["code"] in file]

    # create a new dataframe for each path
    code_dataframes = []
    for code_path in code_paths:
        code_dataframes.append(pd.read_csv(code_path))

    # keep on merging for each directory
    out_df = get_merged_df(code_dataframes, MERGE_COLUMNS)

    # rename the columns
    out_df = rename_dict(out_df, csv_dict)

    # write the csv
    out_df.to_csv(RELATIVE_PATH + "ABS/" + csv_dict["name"] + ".csv")

In [146]:
def get_columns(code, metadata, start=False, ending=False):
    # filter for the code
    metadata = metadata[metadata["Profiletable"].str.startswith(code)]

    # if table is empty, raise a warning
    if (metadata.empty):
        print(f"no corresponding code to {code}")
        return
    
    # find the mask for the values of interest
    if (ending):
        select_mask = metadata["Long"].apply(lambda x: x[-len(ending):] == ending)
        metadata = metadata[select_mask][["Short", "Long"]]
    if (start):
        select_mask = metadata["Long"].str.startswith(start)
        metadata = metadata[select_mask][["Short", "Long"]]

    # create the out dict, and convert to lower
    out_dict = {short: long.lower() for short, long in metadata.values}

    # create a dictionary
    return out_dict

## Execution

#### Read metadata

In [118]:
metadata = pd.read_excel(RELATIVE_PATH + "ABS/2021/Metadata/column_names.xlsx",
                         sheet_name="Cell Descriptors Information",
                         skiprows = list(range(10)),
                         header=0,
                         index_col=0)

print(metadata.shape)
print(metadata.dtypes)
metadata.head(5)

(16984, 5)
Short                                object
Long                                 object
DataPackfile                         object
Profiletable                         object
Columnheadingdescriptioninprofile    object
dtype: object

,Short,Long,DataPackfile,Profiletable,Columnheadingdescriptioninprofile
Sequential,,,,,
G1,Tot_P_M,Total_Persons_Males,G01,G01,Males
G2,Tot_P_F,Total_Persons_Females,G01,G01,Females
G3,Tot_P_P,Total_Persons_Persons,G01,G01,Persons
G4,Age_0_4_yr_M,Age_groups_0_4_years_Males,G01,G01,Males
G5,Age_0_4_yr_F,Age_groups_0_4_years_Females,G01,G01,Females

#### Types of relationships

In [91]:
CSV_RELATIONSHIPS = {
    "year": "2021",
    "code": "G27",
    "name": "relationships",
    "rename": {
        "P_Ptn_in_RM_Tot": "married",
        "P_Ptn_in_DFM_Tot": "defacto",
        "P_LonePnt_Tot": "lone parents",
        "P_CU15_Tot": "child under 15",
        "P_DpStu_Tot": "dependent student",
        "P_NDpChl_Tot": "non dependent child",
        "P_OthRI_Tot": "other related individual",
        "P_GrpH_Mem_Tot": "group household",
        "P_LonePsn_Tot": "lone persons"
    }
}

In [95]:
write_csv(CSV_RELATIONSHIPS)

lost 0 out of 524 records

,SA2_CODE_2021,relationships: married,relationships: defacto,relationships: lone parents,relationships: child under 15,relationships: dependent student,relationships: non dependent child,relationships: other related individual,relationships: group household,relationships: lone persons
0,201011001,6056,1328,772,3884,974,854,252,447,1096
1,201011002,4129,906,471,1669,604,464,132,538,1776
2,201011005,2935,514,248,1427,395,367,74,134,484
3,201011006,3302,1238,584,2150,411,599,243,373,826
4,201011007,1836,319,105,861,261,323,64,41,202
5,201011008,4179,1589,959,2576,526,937,348,488,2080
6,201011481,2693,971,516,1413,260,555,166,455,1511
7,201011482,5273,1402,546,2646,684,720,192,407,1722
8,201011483,3486,1261,614,2006,505,615,221,654,1552
9,201011484,3066,1376,970,1969,337,823,260,547,2297

#### Ages

In [93]:
START = 15
END = 75

age_dict = {"P_Tot_" + str(i)+"_" + str(i+9): str(i) + "-" + str(i+9) for i in range(START,END+1, 10)}
age_dict["P_Tot_0_14"] = "0-14"

CSV_AGES = {
    "year": "2021",
    "code": "G27",
    "name": "ages",
    "rename": age_dict
}

In [94]:
write_csv(CSV_AGES)

lost 0 out of 524 records

#### Overseas

In [89]:
CSV_OVERSEAS = {
    "year": "2021",
    "code": "G45",
    "name": "overseas",
    "rename": {"Difnt_Usl_add_5_yr_ago_OS_P": "5 years"}
}

In [90]:
write_csv(CSV_OVERSEAS)

#### Birth country

In [182]:
birth_dict = get_columns("G09", metadata, start="PERSONS", ending="Total")

# get the keys and values
birth_dict_keys = birth_dict.keys()
birth_dict_values = birth_dict.values()

# remove the start and end
birth_dict_values = [" ".join(ethnic_string.split("_")[1:-1]) for ethnic_string in birth_dict_values]

# rerecreate the dict
birth_dict = {key: value for key, value in zip(birth_dict_keys, birth_dict_values)}

In [183]:
CSV_BIRTH = {
    "year": "2021",
    "code": "G09",
    "name": "birth",
    "rename": birth_dict
}

In [184]:
write_csv(CSV_BIRTH)

lost 0 out of 524 records
lost 0 out of 524 records
lost 0 out of 524 records
lost 0 out of 524 records
lost 0 out of 524 records
lost 0 out of 524 records
lost 0 out of 524 records

#### Studying

In [168]:
CSV_STUDYING = {
    "year": "2021",
    "code": "G15",
    "name": "studying",
    "rename": {
        "Preschool_P": "preschool",
        "Primary_Government_P": "primary government",
        "Primary_Catholic_P": "primary catholic",
        "Primry_Othr_non_Govt_P": "primary other",
        "Primary_Tot_Primary_P": "primary total",
        "Secondary_Government_P": "secondary government",
        "Secondary_Catholic_P": "secondary catholic",
        "Secondary_Tot_Secondary_P": "secondary total",
        "Tert_Voc_edu_Tot_P": "tafe total",
        "Tert_Uni_oth_h_edu_Ft_15_24_P": "tertiary FT 14-25",
        "Tert_Uni_oth_h_edu_Ft_25_ov_P": "tertiary FT 25+",
        "Tert_Uni_oth_h_edu_Pt_15_24_P": "tertiary PT 14-25",
        "Tert_Uni_oth_h_edu_Pt_25_ov_P": "tertiary PT 25+",
        "Tert_Uni_other_high_edu_Tot_P": "tertiary total"
    }
}

In [169]:
write_csv(CSV_STUDYING)

## Merge

In [185]:
# get all the csvs
merge_path = RELATIVE_PATH + "ABS/"
merging_files = [merge_path + file for file in os.listdir(merge_path) 
                 if (file != MERGE_FILE_NAME) and (file.endswith(".csv"))]

# get the list of dataframes
merging_frames = []
for file in merging_files:
    merging_frames.append(pd.read_csv(file))

get_merged_df(merging_frames, MERGE_COLUMNS).to_csv(merge_path + MERGE_FILE_NAME, index=False)

lost 0 out of 524 records
lost 0 out of 524 records
lost 0 out of 524 records
lost 0 out of 524 records